<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h1 class=" title" style="text-align: center;">Maps </h1>
          </div>
        </div>
    </div>
    <div class=" col-md-12">
      <agm-map [latitude]="lat" [zoom]="zoom" [longitude]="lng" (click)="jkl()">
        <agm-marker  [latitude]="lat" [longitude]="lng" [iconUrl]="h">
        <agm-info-window [disableAutoPan]="true">
          <strong style="color: black;font-size: 150%;">Live Current and Voltage Values: </strong><br>
          <br><h5 style="color: black;text-align: left;">IL1: {{y.IL1}}<span style="color: black;position: absolute;left:150px;">VL1: {{y.VL1}}</span></h5>
          <h5 style="color: black;text-align: left;">IL2: {{y.IL2}}<span style="color: black;position: absolute;left:150px;">VL2: {{y.VL2}}</span></h5>
          <h5 style="color: black;text-align: left;">IL3: {{y.IL3}}<span style="color: black;position: absolute;left:150px;">VL3: {{y.VL3}}</span></h5>

        </agm-info-window></agm-marker>
      </agm-map>

    </div>
  </div>

</div>
