<div class=" content">
    <div class=" row">
      <div class=" col-md-12">
        <div class=" card">
          <div class=" card-header">
            <h1 class=" title" style="text-align: center;">Dashboard</h1>
          </div>
          <div class=" row">
            <div 
              class=" font-icon-list col-lg-3 col-md-2 col-sm-4 col-xs-6 col-xs-6" style="margin-left: 400px;"
            >
              <div class=" font-icon-detail">
                <img src="../../../assets/img/download.jpg" height="100" width="100">
                <p style="font-size: 150%;">Transformer ID : 613</p>
                <button class="btn btn-danger btn-sm" (click)="lala()">Info</button> <button class="btn btn-danger btn-sm" (click)="fgh()" >Overview</button>

              </div>
            </div>
            
    
              
           
          </div>
          
        </div>
        
    </div>
    
  </div>
  
</div>


