<div class="logo">
  
  <a href="#" class="simple-text logo-normal" style="text-align: center;font-size: 150%;">
      <span style="color: black;">Trans</span><span style="color: white;">former</span>
  </a>
</div>
<div class="sidebar-wrapper">
  <ul class="nav">
    <li
      routerLinkActive="active"
      *ngFor="let menuItem of menuItems"
      class="{{ menuItem.class }} nav-item"
    >
      <a [routerLink]="[menuItem.path]">
        <i class="tim-icons  {{ menuItem.icon }}"></i>
        <p>{{ menuItem.title }}</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a href='http://52.168.163.234/'>
      <i class="tim-icons  icon-molecule-40"></i>
      <p>AI</p>
      </a>
    </li>
    <li routerLinkActive="active" class="nav-item">
      <a href='http://52.168.163.234/fault_view'>
      <i class="tim-icons  icon-sound-wave"></i>
      <p>FAULT VIEW</p>
      </a>
    </li>
  </ul>
</div>
